<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.graminvikreta">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name="com.graminvikreta.Applications.SmsVerificationApp"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:icon">

        <activity
            android:name="com.graminvikreta.Activity.SplashScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.graminvikreta.Activity.Login" />
        <activity android:name="com.graminvikreta.Activity.SignUp" />
        <activity android:name="com.graminvikreta.Activity.ForgotPassword" />
        <activity android:name="com.graminvikreta.Activity.LoginOtp" />
        <activity
            android:name="com.graminvikreta.Activity.MainPage"
            android:label="@string/title_activity_main_page"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="sendotp.key"
            android:value="@string/sendotp_key" />

        <activity android:name="com.graminvikreta.Activity.VerificationActivity" />
        <activity android:name="com.graminvikreta.Activity.OrderConfirmed" />
        <activity android:name="com.graminvikreta.Activity.Verify"/>
    </application>

</manifest>